.container {
  display: flex;
  flex-direction: column; /* 가로중앙*/
  align-items: center; /* 가로중앙*/
  justify-content: center; /* 세로중앙*/
  height: 100vh; /* 화면 전체 높이*/
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.heading {
  font-size: 2.5rem;
  color: aqua;
  margin-bottom: 20px;
}

.count {
  font-size: 2rem;
  margin-bottom: 30px;
}
/* 버튼 그룹*/
.buttons {
  display: flex;
  gap: 20px; /*버튼 사이 간격*/
}
/* 버튼스타일 */
.btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: aqua;
  color: white;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: blue;
}
