*{margin: 0; padding: 0;}
ul li{list-style: none;
}
a{text-decoration: none;}
.s_Top{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
}


   nav{
    position: fixed;
    top:0;
    height:100px;
    width:100%;
    background: rgba(255,255,255,0.5);
    z-index: 10;
}
nav.on{
    position: fixed;
    background: rgba(0,0,0,0.5);
}
nav.on ul li.on a{
    color:orange;
    font-weight: bold;
}

nav ul{
    width: 1000px;
    height:100px;
    margin: 0 auto;
    list-style: none;
}

nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-size: 32px;
    color: white;
    text-align: center;
}
nav ul li.on a{
    color: orange;
    font-weight: bold;

}
h2{
    position: fixed;
    bottom: 100px;
    right: 0;
    z-index: 100;
}


#floatdiv{
    width: 70px;
    height:200px;
    background-color: dimgray;
    padding-top: 10px;
    position: absolute;
    right:50px;
    top:250px;
}
#floatdiv ul li{
    list-style: none;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background-color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
#floatdiv ul li.on{
    background-color: orange;
}
.section{
    width:1905px;
}

article{
    width:100%;
    height:100vh;
    position: absolute;
}    
#article1{
    background-color: burlywood;
    left: 0;
}
#article2 {
    background-color: coral;
    left: 100%;
}

#article3 {
    background-color: darkcyan;
    left: 200%;
}

#article4 {
    background-color: darksalmon;
    left: 300%;
}