.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: #0eb4fc;
}

.home-content {
  position: relative;
  z-index: 10;
  text-align: center;
}

.greeting-text {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
.home-name {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, white, pink, purple);
  -webkit-background-clip: text;
  background-clip: text;
  animation: bounce 2s infinite;
  -webkit-text-fill-color: transparent;
}

.home-description {
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 2rem;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  padding: 0.75rem 2rem;
  background-color: white;
  border-radius: 0.5rem;
  font-weight: 500;
  border: 1px solid #333;
  cursor: pointer;
  transition: all 0.3s;
  color: #0eb4fc;
}

.btn-primary:hover {
  box-shadow: 0 5px 20px black;
  transform: scale(1.1);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
