@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700");
* {
  margin: 0;
  padding: 0;
}
.cf::after {
  content: "";
  clear: both;
  display: block;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
body {
  font-family: "NanumSquare", sans-serif;
  font-size: 16.5px;
  overflow-x: hidden;
  width: 100%;
  max-width: 1920px;
  min-width: 1000px;
  height: 3000px;
}
.wrap {
  width: 100%;
}
.header_out {
  width: 100%;
  height: 111px;
  position: relative;
  background: url(../img/header_line.png) repeat-x 50% 100%;
}
.header_out header {
  width: 1000px;
  height: 111px;
  margin: 0 auto;
}

.header_out header .header_line {
  width: 100%;
  height: 111px;
}

.header_line .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 네비게이션 */
/* 100% */
header .gnb {
  position: absolute;
  top: 111px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 20;
}

.gnb > ul {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  /* 중앙정렬 */
}
.gnb > ul > li {
  float: left;
}
.gnb > ul > li > a {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
}
.gnb ul li ul li {
  width: 200px;
  text-align: center;
}
.gnb ul li ul li a {
  display: inline-block;
  line-height: 20px;
  padding: 14px 10px;
  letter-spacing: -0.025em;
}
.gnb ul li ul li:hover a {
  background: url(../img/menu_hover.png) no-repeat 0 0;
}
.gnb ul li ul {
  position: absolute;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.gnb ul:hover li ul {
  height: 350px;
}
.shadow {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  transition: all 0.3s;
  background-color: #fff;
}

.gnb ul:hover + .shadow {
  height: 350px;
  background: #fff url(../img/header_line.png) repeat-x 50% 0;
}
#s1 {
  width: 100%;
  height: 820px;
  position: relative;
}
/* 슬라이드 */
.s1_tbox {
  position: absolute;
  width: 30%;
  border: 1px solid #333;
  margin-top: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: url(../img/main_txt_box.png) no-repeat 50% 50% / cover;
}
/* 박스안 글씨 70px 세로로 이동후 숨김 */
.s1_tbox h2 {
  font-size: 45px;
  padding: 20px 0;
  transform: translate(0, 70px);
  text-align: center;
  transition: all 1s;
  opacity: 0;
}
.s1_tbox p {
  transform: translate(0, 70px);
  opacity: 0;
  transition: all 1s 1s;
  /* 1초 대기후 진행 */
}
.s1_tbox h2.on {
  transform: translate(0, 0);
  opacity: 1;
}

.s1_tbox p.on {
  transform: translate(0, 0);
  opacity: 1;
}

#s2 {
  height: 635px;
  padding: 80px 0 40px;
  background: url(../img/sec1_bg.jpg);
  box-sizing: border-box;
  /* s2전체 크기 지정및 배경이미지 */
}
.s2_title {
  width: 1000px;
  height: 180px;
  text-align: center;
  margin: 0 auto;
}
.s2_title h2 {
  font-size: 48px;
  color: #ff8f2b;
  margin-top: 20px;
}

.s2_title p {
  font-size: 16.5px;
  color: #666;
  line-height: 30px;
  margin: 30px 0 40px;
}

.s2_table {
  width: 1000px;
  height: 250px;
  border-top: 3px solid #ff8f2b;
  margin: 40px auto 0;
}

.s2_table li {
  width: 247px;
  margin-right: 3px;
  height: 250px;
  box-sizing: border-box;
  float: left;
  margin-top: 1px;
  text-align: center;
  padding: 30px;
}

.s2_table li:nth-child(1) {
  background: #fff url(../img/sec01_icon.png) no-repeat 50% 50%;
}
.s2_table li:nth-child(2) {
  background: #fff url(../img/sec01_icon2.png) no-repeat 50% 50%;
}
.s2_table li:nth-child(3) {
  background: #fff url(../img/sec01_icon3.png) no-repeat 50% 50%;
}
.s2_table li:nth-child(4) {
  background: #ff8f2b url(../img/sec01_icon4.png) no-repeat 50% 50%;
}

.s2_apply {
  display: block;
  width: 116px;
  height: 35px;
  color: white;
  background: #ff8f2b;
  border-radius: 17px;
  text-align: center;
  line-height: 35px;
  margin: 110px auto 0;
  transition: all 0.5s;
  border: 1px solid #fff;
}

.s2_table li:nth-child(4) .s2_apply {
  background: #fff;
  border: 1px solid #ff8f2b;
  color: #ff8f2b;
}

.s2_table li .s2_apply:hover {
  background-color: white;
  border: 1px solid #ff8f2b;
  color: #ff8f2b;
}
.s2_table li:nth-child(4) .s2_apply:hover {
  background: #ff8f2b;
  border: 1px solid white;
  color: white;
}

.s2_title img,
.s2_title h2,
.s2_title p {
  visibility: hidden;
}

.s2_title img.slide,
.s2_title h2.slide,
.s2_title p.slide {
  visibility: visible;
  animation: slide 1s;
}
@keyframes slide {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.s2_table li {
  visibility: hidden;
}

.s2_table li.slide {
  visibility: visible;
  animation: slide 1s;
}

#s3 {
  height: 635px;
  padding: 80px 0 40px;
  background: url(../img/sec2_bg.jpg);
  box-sizing: border-box;
}

.s3_title {
  width: 1000px;
  height: 180px;
  text-align: center;
  margin: 0 auto;
}
.s3_title h2 {
  font-size: 48px;
  color: black;
  margin-top: 20px;
}
.s3_title p {
  font-size: 16.5px;
  color: black;
  line-height: 30px;
  margin: 30px 0 40px;
}
.s3_table {
  width: 1000px;
  height: 250px;
  margin: 40px auto 0;
}

.s3_table li {
  width: 194px;
  margin-right: 3px;
  height: 200px;
  box-sizing: border-box;
  float: left;
  margin-top: 35px;
  text-align: center;
  padding: 30px;
  /* border: 1px solid #333; */
}

.s3_table li:hover {
  border: 1px solid #333;
}
.s3_table li:nth-child(1) {
  background: url(../img/sec02_icon.png) no-repeat 50% 40%;
}
.s3_table li:nth-child(2) {
  background: url(../img/sec02_icon2.png) no-repeat 50% 40%;
}
.s3_table li:nth-child(3) {
  background: url(../img/sec02_icon3.png) no-repeat 50% 40%;
}
.s3_table li:nth-child(4) {
  background: url(../img/sec02_icon4.png) no-repeat 50% 40%;
}
.s3_table li:nth-child(5) {
  background: url(../img/sec02_icon5.png) no-repeat 50% 40%;
}

.s3_apply {
  display: block;
  width: 116px;
  height: 35px;
  border-radius: 17px;
  text-align: center;
  font-weight: bold;
  line-height: 35px;
  margin: 100px auto 0;
  transition: all 0.5s;
  border: 1px solid #fff;
}

.s3_title img,
.s3_title h2,
.s3_title p {
  visibility: hidden;
}

.s3_title img.slide,
.s3_title h2.slide,
.s3_title p.slide {
  visibility: visible;
  animation: slide 1s;
}
@keyframes slide {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.s3_table li {
  visibility: hidden;
}

.s3_table li.slide {
  visibility: visible;
  animation: slide 1s;
}
#s4 {
  height: 635px;
  padding: 80px 0 40px;
  background: url(../img/sec3_bg.jpg);
  box-sizing: border-box;
  /* s2전체 크기 지정및 배경이미지 */
}
.s4_title {
  width: 1000px;
  height: 180px;
  text-align: center;
  margin: 0 auto;
}
.s4_title h2 {
  font-size: 48px;
  color: #65b07e;
  margin-top: 20px;
}

.s4_title p {
  font-size: 16.5px;
  color: #666;
  line-height: 30px;
  margin: 30px 0 40px;
}

.s4_table {
  width: 1000px;
  height: 250px;
  border-top: 3px solid #65b07e;
  margin: 80px auto 0;
}

.s4_table li {
  width: 247px;
  margin-right: 3px;
  height: 250px;
  box-sizing: border-box;
  float: left;
  margin-top: 1px;
  text-align: center;
  padding: 30px;
}

.s4_table li:nth-child(1) {
  background: #fff url(../img/sec03_icon.png) no-repeat 50% 40%;
}
.s4_table li:nth-child(2) {
  background: #fff url(../img/sec03_icon2.png) no-repeat 50% 40%;
}
.s4_table li:nth-child(3) {
  background: #fff url(../img/sec03_icon3.png) no-repeat 50% 40%;
}
.s4_table li:nth-child(4) {
  background: #65b07e url(../img/sec03_icon4.png) no-repeat 50% 40%;
}

.s4_apply {
  display: block;
  width: 116px;
  height: 35px;
  color: white;
  background: #65b07e;
  border-radius: 17px;
  text-align: center;
  line-height: 35px;
  margin: 120px auto 0;
  transition: all 0.5s;
  border: 1px solid #fff;
}

.s4_table li:nth-child(4) .s4_apply {
  background: #fff;
  border: 1px solid #65b07e;
  color: #65b07e;
}

.s4_table li .s4_apply:hover {
  background-color: white;
  border: 1px solid #65b07e;
  color: #65b07e;
}
.s4_table li:nth-child(4) .s4_apply:hover {
  background: #65b07e;
  border: 1px solid white;
  color: white;
}

.s4_title img,
.s4_title h2,
.s4_title p {
  visibility: hidden;
}

.s4_title img.slide,
.s4_title h2.slide,
.s4_title p.slide {
  visibility: visible;
  animation: slide 1s;
}
@keyframes slide {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.s4_table li {
  visibility: hidden;
}

.s4_table li.slide {
  visibility: visible;
  animation: slide 1s;
}

#s5 {
  height: 435px;
  background: url(../img/sec4_bg.jpg);
  background-size: cover;
  box-sizing: border-box;
}

.s5_title {
  width: 1000px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.s5_left {
  width: 500px;
  height: 254px;
  padding-top: 100px;
}

.s5_left img {
  margin-bottom: 23px;
}

/* .s5_apply{
    margin-top: 50px;
} */

.s5_apply {
  margin-top: 50px;
  display: block;
  width: 116px;
  height: 35px;
  color: white;
  background-color: #000;
  line-height: 35px;
  margin-left: 190px;
  border-radius: 20px;
}

.s5_table li:hover a {
  background-color: white;
  color: black;
  border: 1px solid #333;
}

.move {
  visibility: hidden;
}

.move.slide1 {
  visibility: visible;
  animation: slide1 1s;
}
@keyframes slide1 {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* .s5_apply{
    visibility: hidden;
}

.s5_apply.slide1{ 
    visibility: visible;
    animation: slide 1s;
} */

#s6 {
  height: 400px;
}

.s6_main {
  width: 1000px;
  margin: 0 auto;
}

.s6_notice,
.s6_review {
  width: 500px;
  height: 255px;
  float: left;
  margin-top: 50px;
  box-sizing: border-box;
}

.s6_review {
  float: left;
}

.s6_main h2 {
  font-size: 21px;
  float: left;
  margin-bottom: 20px;
  margin-left: 10px;
}

.s6_notice h2 {
  color: #42a05e;
  background: url(../img/sec5_tit.png) no-repeat;
  padding: 10px;
  margin-top: -10px;
}
.s6_review h2 {
  color: #ff8f2b;
  background: url(../img/sec5_tit2.png) no-repeat;
  padding: 10px;
  margin-top: -10px;
}

.s6_notice img,
.s6_review img {
  float: right;
  transition: all 0.6s;
  margin-left: 10px;
}

.s6_notice:hover img,
.s6_review:hover img {
  transform: rotate(180deg);
}

.s6_title,
.s6_apply {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 20px;
}
.s6_title {
  color: #000;
  float: left;
  margin-left: 20px;
}
.s6_apply {
  float: right;
  color: #666;
}
.s6_title:last-child,
.s6_apply:last-child {
  margin-bottom: 0;
}

#s6 ul a {
  display: block;
}

#s6 ul a:hover .s6_title {
  text-decoration: underline;
}
.move1 {
  visibility: hidden;
}

.move1.slide1 {
  visibility: visible;
  animation: slide1 1s;
}
@keyframes slide1 {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#float_div {
  width: 75px;
  position: absolute;
  right: 325px;
  top: 400px;
  z-index: 100;
}

#float_div ul li {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-bottom: 15px;
  cursor: pointer;
}

#float_div ul li:nth-child(1) {
  background: #d46f5d url(../img/q_icon.png) no-repeat 50% 50%;
}

#float_div ul li:nth-child(2) {
  background: #d46f5d url(../img/q_icon2.png) no-repeat 50% 50%;
}

#float_div ul li:nth-child(3) {
  background: #d46f5d url(../img/q_icon3.png) no-repeat 50% 50%;
}

footer {
  height: 265px;
  background-color: #333;
}

.s7_title {
  width: 1000px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 190px;
  margin-top: 90px;
}

.s7_apply {
  padding-top: 60px;
  margin-left: 230px;
}

.s7_apply p {
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding-top: 10px;
}

.sns {
  float: right;
  width: 200px;
  margin-top: -60px;
  margin-right: -65px;
}

.sns a {
  display: block;
  float: left;
  width: 24px;
  margin-right: 30px;
}
